// .grid-base {
//   display: grid;
//   grid-template-columns: repeat(7, 1fr);
// }
mat-grid-list {
  background-color: #e4e4e4;
}
mat-grid-tile {
  background-color: #ffffff;
}
.grid-element-text {
  display: block;
}
mat-grid-tile-header.grid-today {
  background: lightblue;

  color: #fff;
}
.displayed {
  opacity: 1;
}
.hidden {
  opacity: 0;
}
.grid-element-content {
  display: flex;
  flex-direction: column;
}
.day {
  font-size: x-large;
}
.calendar-buttons {
  display: grid;
  grid-template-columns: 0fr 0.1fr 0fr;
  align-items: center;
  justify-items: center;
  transform: translateX(40%);
}
.calendar-button {
  opacity: 0.2;
}
.calendar-button:hover {
  opacity: 1;
}
