// .grid-base {
//   display: grid;
//   grid-template-columns: repeat(7, 1fr);
// }
mat-grid-list {
  background-color: #e4e4e4;
}
mat-grid-tile {
  background-color: #ffffff;
}
.grid-element-text {
  display: block;
}
.grid-today {
  background-color: purple;
  border-radius: 50%;
  padding: 0.2rem;
  color: #fff;
}
.displayed {
  opacity: 1;
}
.hidden {
  opacity: 0;
}
.grid-element-content {
  display: flex;
  flex-direction: column;
}
