<mat-grid-list
  class="grid-base"
  [@listAnimation]="upadteArr()"
  cols="7"
  [rowHeight]="isMobile ? '1:2' : ''"
>
  @for (day of upadteArr(); track $index) {
  <mat-grid-tile>
    <mat-grid-tile-header
      [ngClass]="day == today && checkToday() ? 'grid-today' : ''"
    >
      <p class="grid-element">
        <span
          [ngClass]="day == today && checkToday() ? 'day grid-today' : 'day '"
          >{{ day }}</span
        >
      </p>
    </mat-grid-tile-header>
    <div class="grid-element-content">
      <p class="grid-element-text">Calories: 3455</p>
      <p class="grid-element-text">Weight: 75</p>
    </div>
  </mat-grid-tile>
  }
</mat-grid-list>
