// .grid-base {
//   display: grid;
//   grid-template-columns: repeat(7, 1fr);
// }
mat-grid-list {
  background-color: #e4e4e4;
}
mat-grid-tile {
  background-color: #ffffff;
}
.grid-element-text {
  display: block;
}
mat-grid-tile-header.grid-today {
  background: lightblue;

  color: #fff;
}
.displayed {
  opacity: 1;
}
.hidden {
  opacity: 0;
}
.grid-element-content {
  margin-top: 2rem;
  display: inline-block;
  flex-direction: column;
  width: max-content;
}
.day {
  font-size: x-large;
}
.isMobile {
  font-size: small;
}
