<nav>
  <mat-card>
    <mat-card-content class="main-nav">
      <div>
        <a routerLink="" class="main-nav-link"
          ><button mat-raised-button color="primary">Dashboard</button></a
        >
        <a routerLink="/calendar" class="main-nav-link"
          ><button mat-raised-button color="primary">Calendar</button></a
        >
        <a routerLink="/products" class="main-nav-link"
          ><button mat-raised-button color="primary">Products</button></a
        >
      </div>
      <a routerLink="/login" class="main-nav-link"
        ><button mat-raised-button color="primary">Login</button></a
      >
    </mat-card-content>
  </mat-card>
</nav>
