<p>nav-links works!</p>
<nav>
  <mat-card>
    <div>
      <a routerLink=""
        ><button mat-raised-button color="primary">Dashboard</button></a
      >
      <a routerLink="calendar"
        ><button mat-raised-button color="primary">Calendar</button></a
      >
      <a routerLink="products"
        ><button mat-raised-button color="primary">Products</button></a
      >
    </div>
    <a routerLink="login"
      ><button mat-raised-button color="primary">Login</button></a
    >
  </mat-card>
</nav>
