<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title
      ><a [routerLink]="['./', stringifiedData]" class="product-link"
        ><h2>
          {{ productData?.name || "" | titlecase }}
        </h2>
      </a>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div>
    <div>
      <h3>Nutritional data</h3>
      <mat-divider></mat-divider>
      <mat-list>
        <mat-list-item>
          Calories: {{ productData?.nutrients?.calories }}
        </mat-list-item>
        <mat-list-item> Fat: {{ productData?.nutrients?.fat }} </mat-list-item>
        <mat-list-item>
          Carbs: {{ productData?.nutrients?.carbs }}
        </mat-list-item>
        <mat-list-item>
          Protein: {{ productData?.nutrients?.protein }}
        </mat-list-item>
        <mat-list-item>
          Fiber: {{ productData?.nutrients?.fiber }}
        </mat-list-item>
      </mat-list>
    </div>
    <mat-divider></mat-divider>
  </div>
  <!-- <p>{{ productData?.desc || "" }}</p> -->
</mat-expansion-panel>
