<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>{{ productData?.name || "" | titlecase }}</mat-panel-title>
  </mat-expansion-panel-header>
  <div>
    <img
      [src]="productData?.imgSrc || ''"
      [alt]="productData?.name + '_picture' || ''"
      srcset=""
      class="product-img"
    />
    <div>
      <span>Nutritional data</span>
      <mat-list>
        <mat-list-item>
          Calories: {{ productData?.data?.calories }}
        </mat-list-item>
        <mat-list-item> Fat: {{ productData?.data?.fat }} </mat-list-item>
        <mat-list-item> Carbs: {{ productData?.data?.carbs }} </mat-list-item>
        <mat-list-item>
          Protein: {{ productData?.data?.protein }}
        </mat-list-item>
        <mat-list-item> Fiber: {{ productData?.data?.fiber }} </mat-list-item>
      </mat-list>
    </div>
    <div>
      <p>Chart goes here</p>
    </div>
  </div>
  <p>{{ productData?.desc || "" }}</p>
</mat-expansion-panel>
