.calendar-buttons {
  display: flex;
  width: 100%;
  align-items: center;
  justify-items: center;
}
.calendar-button {
  opacity: 0.2;
}
.calendar-button:hover {
  opacity: 1;
}
.calendar-mobile-calories {
  margin-top: 2.5rem;
}
