<app-content-page-temp>
  @if (!isMobile) {
  <h1>Today is {{ currentDate.toLocaleDateString() }}</h1>
  }

  <div [class]="isMobile ? 'calendar-buttons isMobile' : 'calendar-buttons'">
    <button
      class="calendar-button"
      (click)="changeMonth(-1)"
      mat-icon-button
      type="button"
    >
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <h2>{{ monthString | titlecase }}</h2>
    <button
      class="calendar-button"
      (click)="changeMonth(1)"
      mat-icon-button
      type="button"
    >
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>

  <app-calendar-display
    [isMobile]="isMobile"
    [newDate]="dateVal"
    [caloriesArray]="itemsArrray"
    (dateCalories)="setDateCalories($event)"
  ></app-calendar-display>
  <mat-divider></mat-divider>
  @if (mobileCalorieValue().visible) {
  <p class="calendar-mobile-calories">
    Calories: {{ mobileCalorieValue().value }}
  </p>
  }
</app-content-page-temp>
