<app-content-page-temp>
  <h2>{{ productData?.name | titlecase }}</h2>

  <div>
    <!-- <img
      [src]="productData?.imgSrc || ''"
      [alt]="productData?.name + '_picture' || ''"
      srcset=""
      class="product-img"
    /> -->
    <mat-divider></mat-divider>
    <div
      [class]="
        isMobile
          ? 'product-details-content isMobile'
          : 'product-details-content'
      "
    >
      <div>
        <h3>Nutritional data</h3>

        <mat-list>
          <mat-list-item>
            Calories: {{ productData?.nutrients?.calories }}
          </mat-list-item>
          <mat-list-item>
            Fat: {{ productData?.nutrients?.fat }}
          </mat-list-item>
          <mat-list-item>
            Carbs: {{ productData?.nutrients?.carbs }}
          </mat-list-item>
          <mat-list-item>
            Protein: {{ productData?.nutrients?.protein }}
          </mat-list-item>
          <mat-list-item>
            Fiber: {{ productData?.nutrients?.fiber }}
          </mat-list-item>
        </mat-list>
      </div>
      <div class="product-details-content-chart">
        <h3>Nutritional breakdown</h3>
        @if (isMobile) {
        <app-toggable-section-temp [title]="'Nutrition chart'">
          <app-chart></app-chart>
        </app-toggable-section-temp>
        } @else {
        <app-chart></app-chart>
        }
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>
  <div>
    <h3>Description</h3>
    <p>{{ productData?.desc || "" }}</p>
  </div>
</app-content-page-temp>
