.product-details-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  justify-content: center;
}
.product-details-content-chart {
  display: grid;
  grid-template-columns: 1;
  // display: flex;
  width: 50%;
  // max-height: 10rem;
  // justify-content: center;
  // flex-direction: column;
  h3 {
    margin: 0;
    text-align: center;
  }
}
.product-details-content.isMobile {
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  justify-content: center;
}
