<mat-card>
  <mat-card-content>
    <form action="" [formGroup]="productData">
      <h3>Name</h3>
      <mat-form-field>
        <mat-label>Product name</mat-label>
        <input formControlName="name" matInput type="text" name="" id="" />
      </mat-form-field>
      <mat-divider></mat-divider>
      <h3>Nutrients (per 100g)</h3>
      <div formGroupName="nutrients" class="dialog-nutr">
        <mat-form-field>
          <mat-label>Kcal</mat-label>
          <input
            formControlName="calories"
            matInput
            type="number"
            name=""
            id=""
            min="0"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Fat</mat-label>
          <input
            formControlName="fat"
            (change)="onNutrChange('fat')"
            matInput
            type="number"
            name=""
            id=""
            min="0"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Carbs</mat-label>
          <input
            formControlName="carbs"
            (change)="onNutrChange('carbs')"
            matInput
            type="number"
            name=""
            id=""
            min="0"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Sugars</mat-label>
          <input
            formControlName="sugar"
            (change)="onSugarChange()"
            matInput
            type="number"
            name=""
            id=""
            min="0"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Fiber</mat-label>
          <input
            formControlName="fiber"
            (change)="onNutrChange('fiber')"
            matInput
            type="number"
            name=""
            id=""
            min="0"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Protein</mat-label>
          <input
            formControlName="protein"
            (change)="onNutrChange('protein')"
            matInput
            type="number"
            name=""
            id=""
            min="0"
          />
        </mat-form-field>
      </div>
      <p>Calories will be calculated automaticlly</p>
      <mat-divider></mat-divider>
      <h3>Description</h3>
      <mat-form-field class="dialog-desc">
        <mat-label>Description</mat-label>
        <textarea
          formControlName="desc"
          matInput
          type="text"
          name=""
          id=""
        ></textarea>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-dialog-actions align="end">
    <button mat-stroked-button color="warn" (click)="dialogRef.close()">
      Close
    </button>
    <button mat-raised-button color="accent" (click)="onAddClick()">
      Add product
    </button>
  </mat-dialog-actions>
</mat-card>
