<app-content-page-temp>
  <h2>Your Dashboard</h2>
  <mat-divider></mat-divider>
  <div class="dashboard-content">
    <div class="dashboard-content-list">
      <h3>Current Caloric Intake</h3>
      <app-dashboard-list [nutrList]="currentCalories"></app-dashboard-list>
    </div>
    <div class="dashboard-content-chart">
      @if (currentCalories.length>0) {
      <app-chart></app-chart>
      }
    </div>
  </div>

  <mat-divider></mat-divider>
  <h3>Add meal</h3>
  <button mat-raised-button color="primary" (click)="onDialogOpen()">+</button>
  <button mat-raised-button color="primary" (click)="onDialogClose()">+</button>
  <mat-divider></mat-divider>
</app-content-page-temp>
