<app-content-page-temp>
  <h2>Your Dashboard</h2>
  <mat-divider></mat-divider>
  <h3>Current Caloric Intake</h3>
  <ul>
    @for (product of currentCalories ; track $index) {
    <li>
      <h2>{{product.product}}</h2>
      @for (key of product|keyvalue ; track $index) {
        @if (key.key != "product") {
          <li>
            {{key.key}} {{key.value}}
          </li>
       
        }
      }
      
    </li>

    }
  </ul>
  <app-chart></app-chart>
  <mat-divider></mat-divider>
  <h3>Add meal</h3>
  <button mat-raised-button color="primary" (click)="onDialogOpen()">+</button>
  <button mat-raised-button color="primary" (click)="onDialogClose()">+</button>
  <mat-divider></mat-divider>
</app-content-page-temp>
