<app-content-page-temp>
  <h2>Your Dashboard</h2>
  <mat-divider></mat-divider>
  <div
    [ngClass]="isMobile ? 'dashboard-content isMobile' : 'dashboard-content'"
  >
    <div class="dashboard-content-list">
      <h3>Current Caloric Intake</h3>
      <app-dashboard-list [nutrList]="currentCalories"></app-dashboard-list>
    </div>
    <div class="dashboard-content-chart">
      @if (!isMobile) { @if (currentCalories.length>0) {
      <app-chart></app-chart>
      } } @else { @if (currentCalories.length>0) {
      <app-toggable-section-temp [title]="'Calories chart'">
        <app-chart></app-chart>
      </app-toggable-section-temp>
      } }
    </div>
  </div>

  <mat-divider></mat-divider>
  <h3>Add meal</h3>
  <button mat-raised-button color="primary" (click)="onDialogOpen()">
    Add
  </button>
  <button mat-raised-button color="primary" (click)="onDialogClose()">+</button>
  <mat-divider></mat-divider>
</app-content-page-temp>
