<app-auth-page-temp title="Sign Up">
  <form [formGroup]="signInForm" class="form-signIn">
    <mat-form-field>
      <mat-label>Username</mat-label
      ><input matInput formControlName="username" type="text" />
      @if(username?.invalid){
      <mat-error>{{ checkErrors(username) }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Passsword</mat-label
      ><input
        id="password"
        matInput
        formControlName="password"
        type="password"
      />
      @if(password?.invalid){
      <mat-error>{{ checkErrors(password) }}</mat-error>
      }
    </mat-form-field>
  </form>
  <button
    [disabled]="signInForm.invalid"
    style="width: 100%"
    mat-raised-button
    color="primary"
    aria-label="Sign up button"
  >
    Sign Up<mat-icon>login</mat-icon>
  </button>
</app-auth-page-temp>
