<app-content-page-temp>
  <form class="product-search-form">
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput [formControl]="searchTerm" (input)="writeSearch()" />
    </mat-form-field>
    <button
      class="form-button"
      mat-raised-button
      color="primary"
      type="submit"
      aria-label="search-button"
      (click)="searchClick()"
    >
      Search
    </button>
  </form>

  <mat-accordion multi>
    @for (product of productList; track $index) {
    <app-product-item [productData]="product"></app-product-item>
    }
  </mat-accordion>
</app-content-page-temp>
