<app-content-page-temp>
  <form class="product-search-form">
    <div>
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput [formControl]="searchTerm" (input)="writeSearch()" />
      </mat-form-field>
      <button
        class="form-button"
        mat-icon-button
        color="primary"
        type="submit"
        aria-label="search-button"
        (click)="searchClick()"
      >
        <mat-icon> search </mat-icon>
      </button>
    </div>
  </form>
  <div style="z-index: 0; position: relative">
    @if (user) {
    <button
      (click)="onDialogOpen()"
      aria-label="add new product"
      mat-raised-button
      color="primary"
    >
      Add new product
    </button>
    }

    <button
      (click)="accordion?.closeAll()"
      aria-label="collapse all tabs"
      mat-raised-button
      color="accent"
    >
      Collapse all
    </button>
  </div>
  <mat-accordion multi>
    @for (product of productList; track $index) {
    <app-product-item
      [productData]="product"
      [index]="$index"
    ></app-product-item>
    }
  </mat-accordion>
</app-content-page-temp>
