<mat-card>
  <mat-card-content>
    <mat-card-title> Add Product </mat-card-title>
    <div>
      <mat-form-field>
        <mat-label>Enter product name</mat-label>
        <input type="text" matInput [formControl]="productName" />
      </mat-form-field>
      <button
        mat-fab
        color="primary"
        aria-label="Search product button"
        (click)="onSearchClick()"
      >
        <mat-icon>search</mat-icon>
      </button>
    </div>
    @if (displayList) {
    <div>
      <app-dashboard-dialog-list
        [productList]="searchedList"
        (SelectedProduct)="onProductSelect($event)"
      ></app-dashboard-dialog-list>
    </div>
    }

    <div>
      <mat-form-field>
        <mat-label>Enter weight (in grams)</mat-label>
        <input
          type="number"
          matInput
          min="0"
          [formControl]="productWeight"
          (change)="onWeightChange()"
        />
      </mat-form-field>
      <button
        mat-icon-button
        color="primary"
        aria-label="Search product button"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div>
      <h3>Total calories</h3>
      @if (selectedProduct) {
      <p>Product: {{ selectedProduct.name | titlecase }}</p>
      }

      <p>Kcal: {{ currentCalories }}</p>
    </div>
    <button
      type="button"
      mat-raised-button
      color="primary"
      (click)="onAddClick()"
    >
      Add
    </button>
    <button
      type="button"
      mat-raised-button
      color="warn"
      (click)="dialogRef.close()"
    >
      Close
    </button>
  </mat-card-content>
</mat-card>
